<div id="bar-container">
    <img src="../../assets/logo.png" id="logo"/>
    <div id="upper-bar">
        <img width="21px" height="21px" src="../../assets/phone-icon.png" id="phone-icon"/>
        <p id="phone-number">054-3924542</p>
        <div id="language-buttons">
            <img src="https://countryflags.io/il/shiny/32.png" class ="lang-button-img">
            <img src="https://countryflags.io/us/shiny/32.png" class ="lang-button-img">
        </div>
        <p id="quote">הצימר של תמיר קציר</p>
    </div>
    <ul id="lower-bar" dir="rtl">
        <li class="nav-button"><a href="gallery">גלריה</a></li>
        <li class="nav-button"><a href="about_rosh_pinna">ראש פינה שלנו</a></li>
        <li class="nav-button"><a href="recommendations">המלצות</a></li>
        <li class="nav-button"><a href="discounts">הנחות</a></li>
        <li class="nav-button"><a href="about">אודות</a></li>
        <li class="nav-button"><a href="concact">צור קשר</a></li>
    </ul>
</div>